ul.grid {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 300px));
    grid-gap: 20px;
  }
  
  ul.grid li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  ul.grid li .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  ul.grid li .image-container img {
    max-width: 100%;
    max-height: 100%;
  }
  
  ul.grid li .product-details {
    text-align: center;
  }
  
  ul.grid li .product-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  ul.grid li .product-price {
    color: #00c400;
    font-weight: bold;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .search-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .search-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    width: 400px;
  }
  
  .search-form input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .search-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ce5d17;
    color: #ddd;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .search-form button:hover {
    background-color: #ce5d17a7;
  }
  